@import "everforest_dark_hard.css";

window#waybar {
    background-color: @bg0;

    border-radius: 10px;
    font-family: "Iosevka Nerd Font";
    font-size: 15px;

    /* Border gradient trick */
    border: 2px solid transparent;
    border-radius: 9px;
    background-image: linear-gradient(@bg0, @bg0), linear-gradient(to right, @green, @aqua, @purple);
    background-clip: content-box, border-box;
    background-origin: border-box;
}

#custom-separator {
    color: @gray1;
}

#cpu {
    color: @aqua;
}

#temperature.cpu {
    padding-left: 0;
    color: @aqua;
}

#memory {
    color: @blue;
}

#custom-gpu-usage {
    color: @aqua;
}

#temperature.gpu {
    padding-left: 0px;
    color: @aqua;
}

#language {
    color: @purple;
    padding-right: 10px;
}

#pulseaudio {
    color: @green;
}

#disk {
    color: @blue;
}

#battery {
    color: @purple;
}

#network {
    color: @purple;
}

#clock,
#backlight,
#custom-media,
#tray,
#mode,
#custom-date,
#idle_inhibitor {
    padding: 0px 10px;   
    /* margin: 0 0;    */
    color: #fff;
}


#workspaces {
    padding: 0;
    /* font-size: 15; */
    font-family: BlexMonoNerdFontPropo;
}


#workspaces button {
    border: none;
    color: @fg;
}
  
#workspaces button:hover {
    background: rgba(255, 0, 0, 0);
    border: none;
    box-shadow: none;
    text-shadow: none;
    outline: none;

    color: @green;
    /* box-shadow: none; */
}
  

#workspaces button.visible {
    color: @green;
}

#workspaces button.empty {
    font-size: 12px;
}

#workspaces button.urgent {
	color: @purple;
}

#workspaces button.empty:hover {
}

#workspaces button.empty.active {
}
