@import url("/home/jakob/.config/waybar/everforest_dark_hard.css");

window {
	font-size: 16px;
	color: @fg;
    font-family: "Iosevka Nerd Font";

    border-radius: 9px;
}

/* Inner Box */
#inner-box {
	margin: 5px;
	padding: 10px 0px;
	border: none;
	border-radius: 5px;
}

/* Outer Box */
#outer-box {
	padding: 10px;

	border: 2px solid transparent;
    border-radius: 9px;
    background-image: linear-gradient(@bg0, @bg0), linear-gradient(to right, @green, @aqua, @purple);
    background-clip: padding-box, border-box;
    background-origin: border-box;

}

#entry {
	padding: 5px 0px 5px 10px;
	border-radius: 5px;
	border: none;
	outline: none;
}

#entry:selected {
    background-image: linear-gradient(to right, @green, @aqua, @purple);
}

#entry:focus {
    background-image: linear-gradient(to right, @green, @aqua, @purple);
}

#input {
	font-family: BlexMonoNerdFontPropo;
	font-style: italic;
	
	border: 2px solid transparent;
    border-radius: 9px;
    background-image: linear-gradient(@bg_dim, @bg_dim), linear-gradient(to right, @green, @aqua, @purple);
    background-clip: padding-box, border-box;
    background-origin: border-box;
}

#input:focus {
	font-family: "Iosevka Nerd Font";
	font-style: normal;

	box-shadow: 0;
	transition-duration: 0;
	
	background-color: @bg0;
	color: @fg;

	border: 2px solid transparent;
    border-radius: 9px;
    background-image: linear-gradient(@bg0, @bg0), linear-gradient(to right, @green, @aqua, @purple);
    background-clip: padding-box, border-box;
    background-origin: border-box;

}

#img {
	margin-right: 10px;
}